@import url("./assets/fonts/fonts.css");
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair Display", serif;
    background: #000;
    color: #fff;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif !important;
}

.font-playfair {
    font-family: "Playfair Display", serif !important;
}
